{% block content %}
<h4>On the next pages you will find two tasks, one after the other, each consisting of a data set and a collection of questions.
    Please answer to the best of your knowledge.</h4>

{% if treatment == 'A' %}
<h2>Video Tutorial</h2>
<h4>This short video explains how to use the software tool that you will need for completing the next steps of your task.</h4>

<video width="640" height="360" controls>
    <source src="{% static 'data/explanation_video.mp4' %}" type="video/mp4">
    Video format not supported
</video>
{% endif %}

{{ next_button }}
{% endblock %}