{% block content %}

<h2>Welcome to the Experiment</h2>

<p>
You are about to take part in a study on designing software for public administration, focusing on how data from participants is handled. 
This experiment contains two tasks, each consisting of a dataset and a collection of questions. Your responses will be kept confidential and used only for research purposes
</p>

<p>
The study will take approximately 20–30 minutes. You can earn additional payment depending on how accurately you complete the tasks. 
Please note that you will <strong>not be able to go back</strong> to previous pages, so make sure to read all instructions and information carefully.
</p>

<p>
Thank you for participating in our study and helping us improve software for data processing and visualization. 
This research will help us design more user-oriented software that considers users’ data literacy and needs.
</p>
{{ next_button }}
{% endblock %}