{% block content %}
<div style="display:flex; flex-direction:column; gap:30px;">
    <h2>What you need to know</h2>
    <p>
        In this study, your task is to transform datasets into a structure that can be used reliably for analysis.
        This means you will prepare the data so that it follows the principles of a <i>tidy dataset</i>.
    </p>

    <p>
        Structuring data in this way is important because it ensures that datasets can be processed, analyzed, and combined without errors.
        The tidy format provides a clear and consistent structure, which makes it easier to clean, visualize, and analyze data.
    </p>

    <div style="
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #f9f9ff;
    border: 1px solid #cbd5e0;
    border-radius: 12px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
">
        <div style="
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #3182ceb0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
    ">
            i
        </div>
        <p>A tidy data record has to satisfy the following requirements:</p>
        <ul>
            <li>Each column represents one variable</li>
            <li>Each row represents one observation</li>
            <li>Each cell contains exactly one value</li>
        </ul>
        <p>Here is an example of a tidy dataset:</p>
        <img width=400 src="/static/data/tidy_data.png"/>
    </div>
    
    {% if treatment == 'A' %}
    <h4>Our provided software tool</h4>
    <p>This short video explains how to use the software tool you will need for completing the next steps of your task.
    The tool allows you to upload a dataset, preview it in a database-compliant format, and apply simple transformations if needed.
    For the first task, the tool can automatically restructure the data; for the second task, you might need to make minor adjustments using its functions.
    Focus on observing the preview table carefully, as this will help you answer the questions afterwards.</p>
    
    <video width="640" height="360" controls>
        <source src="{% static 'data/explanation_video.mp4' %}" type="video/mp4">
        Video format not supported
    </video>
    {% endif %}

    {{ next_button }}
</div>
{% endblock %}
