{% block content %}
<h4>Pre Questionnaire</h4>
<p> Below you will be shown a series of statements and asked to indicate your agreement or disagreement based on your personal judgment.</p>
<div style="margin-top: 50px;"></div>

<style>
    table.likert {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

    table.likert th, table.likert td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    table.likert th {
        background-color: #f9f9f9;
    }

    table.likert td.label-cell {
        text-align: left;
        width: 40%;
    }
</style>

<table class="table">
    <tr>
        <th>Question</th>
         {% for value, label in reversed_choices %}
                <th>{{ label }}</th>
            {% endfor %}
    </tr>
    {{ for field in form }}
        <tr>
            <th>{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>



{{ next_button }}
{% endblock %}