{% block content %}

<h2>Let's go to the next task:</h2>
<h4>Your supervisor asks you to look at the following data.
    He has a few questions about it.</h4>

<h4>Please transform the data from the file into a database-compliant data record to further analyze it.</h4>

{{ aufgabe }}

<h3>Use the following technical tool for this purpose:</h3>

<iframe src="https://pg-doener-prod.virt.uni-oldenburg.de" width="100%" height="600px" frameborder="0"></iframe>

{{ formfields }}
{{ next_button }}

{% endblock %}