{% block content %}
<div style="display:flex; flex-direction:column; gap:30px;">
    <div style="
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: #f9f9ff;
        border: 1px solid #cbd5e0;
        border-radius: 12px;
        padding: 20px;
        max-width: 600px;
        margin: 20px auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
    ">
        <div style="
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #3182ceb0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
    ">
        i
    </div>
        <h4>
            This exercise is about database-compliant data records.
            Such a data record has to satisfy the following requirements to be database compliant:
            <ul>
                <li>Every column is a variable</li>
                <li>Every row is an observation</li>
                <li>Every cell is a single value</li>
            </ul>
        </h4>
        <h4>For example this table satisfy all requirements:</h4>
        <img width=400 src="/static/data/tidy_data.png"/>
    </div>

     <h2>Let's start with the first task:</h2>
     <h4>You are an employee in a company. Your supervisor has given you a data file and asked you to prepare it for further analysis.
    Your task is to examine the dataset and, if necessary, transform it into a database-compliant structure so that it can later be uploaded into a visualization tool and analyzed.</h4>

    <h4>Here is a small snippet of the data.</h4>
    <img src="/static/data/city_image.png"/>
    

    <div>
        <h4>Please use this dataset:</h4>
        <a href="{% static 'data/city_data.xlsx' %}" download>city_data.xlsx</a>
    </div>

    <h5>For this task, please use the software tool provided below for a transformation. You do not need to finally upload the file within the tool.</h5>

    <div style="width:100%; position:relative;">
        <iframe src="https://th1nk.pg-doener-dev.virt.uni-oldenburg.de"
            style="width:120%; height:600px; position:relative; left:50%; transform:translateX(-50%);" frameborder="0">
        </iframe>
    </div>

    <h5>After completing the task, please answer the following questions:</h5>
    <div>
        {{ formfields }}
    </div>
    <div style="margin-top:30px;">
        {{ next_button }}
    </div>
</div>
{% endblock %}