{% block content %}

<div style="display:flex; flex-direction:column; gap:30px;">
    <h2>Let's start with the next task:</h2>
    <h5>You are an employee in a company. Your supervisor has given you a data file and asked you to prepare it for further analysis.
        Your task is to examine the dataset and, if necessary, transform it into a database-compliant structure so that it can later be uploaded into a visualization tool and analyzed.</h5>

    <div>
        <h5>Please use the following dataset:</h5>
        <a href="{% static 'data/traffic_data.xlsx' %}" download >traffic_data.xlsx</a>
    </div>

    <h5>For this task, please use the software tool provided below for a transformation. You do not need to finally upload the file within the tool.</h5>    <div style="width:100%; position:relative;">
        <iframe 
            src="https://th1nk.pg-doener-dev.virt.uni-oldenburg.de"
            style="width:120%; height:600px; position:relative; left:50%; transform:translateX(-50%);" 
            frameborder="0">
        </iframe>
    </div>
    <h5>After completing the task, please answer the following questions.</h5>
</div>

{{ formfields }}
{{ next_button }}



{% endblock %}